/* Style in the image used to triggert the Modal */

#myImg{
  transition: 0.3s;
}

#myImg:hover{
  opacity:0.7;
}

/* The modal (background) */

.modal{
  display:none; /* Hidden by default - No se muestra por default */
  position:fixed; /* Stays in place - Se mantiene en el lugar fijado */
  z-index: 1; /* Sits on top - Se pone al frente */
  padding-top: 100px; /* Location of the box - Donde se ubica la caja */
  left: 0;
  top: 0;
  width: 100%; /* Full width - Full Anchura */
  height: 100%;/* Full height - Full altura */
  overflow: auto; /* Enable scroll if needed - Habilitar el scroll si se necesita */
  background-color: rgb(0,0,0); /* Fallback color - Color de respaldo */
  background-color: rgba(0,0,0,0.9); /*Black with opacity - Negro transparentoso */
}

/* Modal Content - Contenido del Modal */

.modal-content{
  margin:auto;
  display:block;
  width:40%;
  max-width:350px;
}

/* Caption of the modal imagen (image text ) */

#caption {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 500px;
  text-align:center;
  color :#ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the modal */

.modal-content, #caption{
  animation-name:zoom;
  animation-duration: 0.6s;
}

@keyframes zoom{
  from{transform:scale(0)}
  to{transform:scale(1)}
}

/*Estilos para el boton de escape del modal */

.close{
  position:absolute;
  top:15px;
  right: 35px;
  color : #f1f1f1;
  font-size:40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus{
  color:#bbb;
  text-decoration: none;
  cursor:pointer;
}

/* Query para que en las pantallas desde 700px hacia abajo se vean las imagenes del modal en 100% del ancho de la pagina*/

@media only screen and(max-width: 700px){
  .modal-content{
    width:100%;
  }
}